*{
  margin: 0;
  padding: 0;
}
body{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(bb.jpg);
  background-position: center;
  background-size: cover;
}
.box{
  background-color: #38f5f5;
  height: 290px;
  width: 700px;
  opacity: 80%;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  padding: 30px 30px;
  border-radius: 30px;
  border: 3px solid rgb(20, 5, 116);

}
.form-group input{
  width: 100%;
  margin-bottom: 10px;
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 3px solid hwb(243 5% 47%);
  font-size: 25px;

}
table{
  width: 98%;
  height: 100%;
  margin: 10px;
}
table th,td{
  background-color: aqua;
  border: solid 1px;
  border-collapse: collapse;
}
button{
  background-color: blue;
  border-radius: 5px;
  font-size: 25px;
  color:#fff;
}
.back-btn{
  margin-left: 100px;

}
button a{
  text-decoration: none;
  color: #fff;
}
button:hover{
  cursor: pointer;
}
.btn-submit:hover{
    background-color: green;
}
marquee{
  font-size:90px;
  color:#88e3e0;
  font-family:sans-serif;
  font-weight: 600;
}